<a href="https://colab.research.google.com/github/RiteshopShrivastava/Assignment-3-Hypothesis-Testing/blob/main/Assignment_3_Q2_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Q2. A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [5]:
data = pd.read_csv('/content/LabTAT.csv')
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

# ANOVA test
Null hypothesis Ho : μ1=μ2=μ3=μ4 (no significance difference in average TAT)

Alternate hypothesis Ha : Atleast one TAT is different (significance difference in average TAT)

In [6]:
stats.f_oneway(data.iloc[:,0], data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

Since (pvalue=0) < (alpha=0.05), therefore reject null hypothesis Ho.

***Inference : There is significant difference in average TAT of laboratories***